.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  z-index: 10;
  position: fixed;
  min-width: 100%;
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  width: 100%;
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  width: 78.8%;
  margin-top: 10vh;
  min-height: 100%;
  float: left;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
}
.App-sidebar {
  margin-top: 10vh;
  float: left;
  padding: 20px;
  background-color: #44484e;
  min-height: 8vh;
  min-width: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #44484e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #44484e;
}
